.sidebar {
  width: 20%;
  min-height: 2200px;
  background-color: #E0E0E0;
  float: left;
  text-align: left;
  margin-top: -100px;
}

ul {
  list-style-type: none;
}

.linkslist {
  list-style-type: disc;
}

.navbar-form {
  float: right;
}

.navbar {
  margin-left: 20%;
}

.jumbotron {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 100px;
  display: inline-block;

}
