<!DOCTYPE html>
<html lang="zh-cn">

 <head>

 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>互动百科</title>


<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/base.css" />
<link rel="stylesheet" type="text/css" href="../static/css/forms.css" />

  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>

  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

</head>


  <body>
      <div id="header">
          <div id="branding">

          </div>
{% if request.user.is_authenticated %}
          <div id="user-tools">
                  
               
                  <font color="#FFFFFF">欢迎{{user}}!</font> /
                  <font color="#FFFFFF">分数：{{user.userprofile.point}}</font> /
                  <a href="login/changepassword/{{user}}">修改密码</a> /
                  <a href="login/logout/">注销</a>

          </div>
{% else %}
          <div id="user-tools">
                  <a href="login/register/">注册</a> /
                  <a href="login/login/">登录</a> /
                  <a href="admin/">管理员登录</a>
          </div>
{% endif %}
      </div>

    <div class="container" align="center">
</br></br></br>
      <img src="../static/img/hudongbaike1.png" align="center">
</br></br></br>

<form role="search" method="post" action="/article/result/">
          <input type="text" id="inputFounder" maxlength="100" size="50" name="title" required />
        <button type="submit" class="btn btn-primary">搜索词条</button>
        
</form>
</br>
{% if request.user.is_authenticated %}
<button class="btn btn-primary" onclick="location='/article/new/'">新建词条</button>
{% else %}
<button class="btn btn-primary" onclick="location='/login/login/'">新建词条</button>
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" onclick="location='/chat/'">进入留言板</button>
&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" onclick="location='/article/templates/'">百科模板</button>


    </div>


 <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

 <script src="../static/js/bootstrap.min.js"></script>


 </body>
</html>
